@media only screen and (max-width: 1200px) {
    .container-main {
        width: 90%;
    }
}

@media only screen and (max-width: 430px) {
    .container-main {
        width: 100%;
        top: 0;
    }

    .header {
        border-radius: 0;
        height: 45px;
    }

    .header-text {
        font-size: 14px;
    }

    .take-note {
        border-radius: 0;
    }

    .note-title, .note-text {
        padding: 5px;
        font-size: 14px;
    }

    .list-text, .note-text {
        font-size: 14px;
    }

    .container-pinned, .container-other {
        border-radius: 0;
        padding: 10px 0;
        justify-content: center;
    }

    .pinned-heading, .other-heading,
    .pinned-subheading, .other-subheading {
        font-size: 15px;
    }     
    .container-pinned > div,
    .container-other > div {
        border-radius: 5px;
        padding: 8px;
        min-width: 45%;
        max-width: 95%;
        margin: 5px;
    }

    .stored-note-title {
        font-size: 14px;
        margin: 5px 0;
    }
}

@media only screen and (max-width: 330px) {
    .container-pinned > div,
    .container-other > div { 
        width: 95%;
    };

    .logo {
        width: 50%;
    }
}
